.container {
    width: 85%;
    margin: 50px auto;
    min-height: 58vh;
}

.container>h1 {
    font-size: var(--font-xl);
    font-weight: 400;
    margin-bottom: 50px;
    padding: 2px;
    border-bottom: 2px solid var(--bg-color);
}

.container>p {
    color: #ffffffc4;
    font-size: 18px;
    margin-bottom: 20px;
}

@media (max-width:1200px) {
    .container {
        width: 90%;
    }
}

@media (max-width:600px) {
    .container>h1{
        font-size: var(--font-lg);
    margin-bottom: 40px;
    }
    .container>p {
        font-size: 12px;
        margin-bottom: 10px;
    }
}