.container {
    width: 85%;
    margin: 20px auto 40px;
}
@media (max-width:1080px) {
    .container {
        width: 90%;
    }
}

@media (max-width:800px) {
    .container {
        width: 94%;
    }
}